body {
    background-color: black;
}
h1 {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.score {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-bottom: 30px;
    transition: 0.5s ease;
    padding-top: 5px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    width: 75px;
    height: 75px;
    background-color: pink;
    border-radius: 25px;
    outline:none;
    border-color: red;
    border-width: 2px;
}

#rock {
    background-image: url(pictures/Rock2.png);
    background-size: 100% 100%;
}

#paper {
    background-image: url(pictures/Paper2.png);
    background-size: 100% 100%;
}

#scissors {
    background-image: url(pictures/Scissors2.png);
    background-size: 100% 100%;
}

#rock:hover {
    box-shadow: 0 0 1rem #ffc600;
    transform: scale(1.05);
    background-color: blue;
}

#paper:hover {
    box-shadow: 0 0 1rem #ffc600;
    transform: scale(1.05);
    background-color: blue;
}

#scissors:hover {
    box-shadow: 0 0 1rem #ffc600;
    transform: scale(1.05);
    background-color: blue;
}

#compRock {
    background-image: url(pictures/Rock2.png);
    background-size: 100% 100%;
}

#compPaper {
    background-image: url(pictures/Paper2.png);
    background-size: 100% 100%;
}

#compScissors {
    background-image: url(pictures/Scissors2.png);
    background-size: 100% 100%;
}

#playContainer {
    display: flex;
    justify-content: center;
}

#playButton {
    width: 150px;
    font-size: 14px;
    margin-top: 40px;
    font-weight: bold;
    border-width: 5px;
}

.player {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
}

.comp {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    transition: 1.5s ease;
}
.log {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

.computerSelect {
    border-color:#ffc600;
    box-shadow: 0 0 10px #ffc600;
    transform: scale(1.1);
    background-color: blue;
}

#player {
    color: white;
    font-size: 30px;
    text-align: center;
}

.scoring {
    transform: scale(1.3);
}

.computer {
    transition: 1.5s ease;
}

.rnd {
    text-align: center;
    color: white;
    font-size: 20px;
    padding-bottom: 0px;
    padding-top: 5px;
}

#rndCount {
    margin: 0px;
}